/* Estilo do corpo */
body {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
  background-image: url(fundo.jpeg);
   background-repeat: no-repeat;
  background-size: cover;
}

/* Estilo do cabeçalho */
header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

header img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 0 10px #000;
}

header h1 {
  margin-top: 10px;
}

/* Estilo da lista de guias */
h1 {
  margin-top: 10px;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color:white;
  text-shadow: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border: 10px;
}

li {
  float: left;
  margin-right: 10px;
  margin: 10;
  padding: 10;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 5px;
}
}

li.active a {
  background-color: #0077CC;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  
}

li a:hover {
  background-color: #3e8e41;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  border: 10px;
}

li.active {
  background-color: darkblue;
  border: 10px;
}

/* Estilo do conteúdo da guia */
.tab-content {
  display: none;
  padding: 30px;
  background-color: black;
  border: 1px solid #ccc;
  border-top: none;
}

/* Estilo dos botões de contato */
.tab-content a img {
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 50%;
  box-shadow: 0 0 5px #999;
  transition: all 0.2s ease-in-out;
}

.tab-content a img:hover {
  transform: scale(1.1);
}

/* Estilo dos links de download */
.tab-content a {
  display: inline-block;
  margin: 10px;
  background-color:darkblue;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 0 5px #999;
  transition: all 0.2s ease-in-out;
}

.tab-content a:hover {
  background-color: #3e8e41;
  transform: scale(1.1);
}
.tab-content img {
  margin-right: 20px;
}

li {
  margin-right: 20px;
}