header{
	background-color: black;
    justify-content:space-around;
}
h1{
	
	align-content: center;
	margin-left:500px;
	font-family: sans-serif;
	color: white;
	

}
body{
background-image: url(fundo.jpeg);
 background-repeat: no-repeat;
      background-size: cover;
}
img{
  display: block;
  margin: 0 auto;
  width: 200px;
  margin-top:-5px;
  border-radius: 50%;
 }
   ul {
      list-style: none;
      margin: 0;
      padding: 0;
      margin-right: 50px;
    }
    ul li {
      display: inline-block;
      margin-right: 10px;
      padding: 5px;
      background-color: #ddd;
      border-radius: 5px 5px 0 0;
      cursor: pointer;
      font-size: 40px;
      margin-right: 100px;
    }
    ul li.active {
      background-color: #fff;
       align-content: center;
       margin-right:100px;
       margin-top: 10px;
}
    /* Estilo do conteúdo das guias */
    .tab-content {
      background-color: #fff;
      border-radius: 0 5px 5px 5px;
      padding: 10px;
      font-size: 25px;
      align-content: center;
    }

    /* Esconder o conteúdo das guias que não estão ativas */
    .tab-content:not(:first-child) {
      display: none;
       align-content: center;
    }
@media screen and (max-width: 768px){
	header{
		height: :100%;
		flex-direction: column;
	}
}
                    
                    